.country-header
{
    font-size: 20px;
    font-weight: 100;
    display: table-cell;
    vertical-align: middle;
    height: 76px;
    text-align: center;
}

.table td, .table th {
    padding: 3px !important;
}
.confirmed
  {
    color: coral;
    font-weight: 100;
  }
  .recovered
  {
    color: #027b0b;
    font-weight: 100;
  }
  .deaths
  {
    color: #c70000;
    font-weight: 100;
  }
  .fs-10
  {
    font-size: 10px !important;
  }

  .tbody {
    display:block;
    max-height:200px;
    overflow-y:scroll;
}
.thead, .tbody .tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.thead {
  width:100%; 
}

.new
{
  background-color: blue;
    color: white;    
    text-align: center;
    border-radius: 25px;
}
.total
{
  background-color: rgb(230, 72, 80);
    color: white;    
    text-align: center;
    border-radius: 25px;
}
tbody tr td
{
  font-weight: 100;
 
}